@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*{
    font-family: "Odibee Sans", sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    margin: 0;
    color: #fff;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;         
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
body*{
    z-index: 1;
}
h1{
    font-size: 40px;
    margin: -80px 0 40px;
}

.countdown{
    display: flex;
    transform: scale(2);
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px;
}
.time h2{
    margin: 0 0 5px;
}
@media(max-width: 500px){
    h1{
        font-size: 35px;
    }
    .time{
        margin: 35px;
    }
    .time h2{
        font-size: 12px;
        margin: 0;
    }
    .time small{
        font-size: 10px;
    }
}